@model List<ClassLibrary.Entities.MoneyDetail>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" />
<div>
    <h2>
        Money Details
        <a href="@Url.Action("Editor","Home")" class="btn btn-primary" style="float:right;">Add Money Details</a>
    </h2>

    <div class="row">
        @if (@Model != null && Model.Count > 0)
        {
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Amount Send ($)
                        </th>
                        <th>
                            Amount Recieved (INR)
                        </th>
                        <th>
                            Senders Name
                        </th>
                        <th>
                            Recievers Name
                        </th>
                        <th>
                            Purpose of Transfer
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var money in @Model)
                    {
                        <tr>
                            <td>
                                @money.AmtSend<span>$</span>
                            </td>
                            <td>
                                @money.AmtRecieve<span>₹</span>
                            </td>
                            <td>
                                @money.SenderName
                            </td>
                            <td>
                                @money.RecieverName
                            </td>
                            <td>
                                @money.Purpose
                            </td>
                            <td>
                                <a href="@Url.Action("Editor","Home",new{Id = @money.Id })">Edit</a>
                                |
                                 <a href="@Url.Action("delete","Home",new{Id = money.Id})">Delete</a>
                               
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                No Details of Money Transfer! Click on to add
            </div>
        }
    </div>
</div>

